{% extends "base_file.html" %}
{% block title %}PostNest{% endblock %}
{% block navbar %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <li><a href="/" class="active">Home</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
{% endblock %}
{% block body %}
      <!-- Team Section -->
      <section id="team" class="team section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Founder</h2>
          <div><span>Meet the</span> <span class="description-title">Creator</span></div>
        </div><!-- End Section Title -->

        <div class="container">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/mypic.jpg') }}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Ayush Kumar</h4>
                  <span>Student</span>
                  <div class="social">
                    <a href="https://www.facebook.com/profile.php?id=100009395573294&mibextid=JRoKGi"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/one_n_only_ayushkumar/profilecard/?igsh=dGdoanhmY3VweG51"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/akfgiet"><i class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/akumarfgiet"><i class="bi bi-github"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End Team Member -->
          </div>

        </div>

      </section><!-- /Team Section -->
{% endblock %}
